.item-container{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    width:600px;
    height: 450px;
    margin: 2%;
    padding: 3%;
    border: 2px solid  orange;
}
.title-header{
    color: orange;
    font-weight:bolder;
    font-size: larger;
}

.item-image {
    width: 300px;
    height: 200px;
}

.text-info {
    margin: 12px;
}

.option {
    text-decoration: none;
    align-items: center;
    background-color: rgba(27, 24, 17, 0.952);
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid  orange;
}