
.title-header {
    font-weight: bold;
}


.card-item{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    width: 300px;
    height: 400px;
    margin: 5%;
    border: 1px solid  hsl(39, 100%, 50%);
    
}

.card-image {
    width: 250px;
    height: 200px;
    filter: drop-shadow(4px 1px 1px #ffaa01);
    transition: all 500ms ease;
}

.card-image:hover {
transform: translateY(-6%)
}

.text {
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.item-button {
        margin: 30px;
        padding: 35px;
}


.text-button {
    text-decoration: none;
    align-items: center;
    background-color: rgba(27, 24, 17, 0.952);
    color: white;
    padding: 20px;
    border-radius: 3px;
    border: 2px solid  orange;
}

.text-button:hover {
    color: orange;
}
