nav{
    background-color: black;
    display: flex;
    Justify-content:space-between;
    align-items: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    height:20vh;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

li {
    list-style: none;
    margin: 40px;
    color: orange;
}

