.header-title {
    align-items: center;
    color: orange;
}

.nav{
    background-color: black;
    align-items: center;
    flex-wrap: wrap;
    height:20vh;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    color: orange;
}

.nav-link{
    margin: 90px;
    color: orange;
    text-decoration: none;
}
