.header-title {
    align-items: center;
    color: orange;
}

.link-h2 {
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height:10vh;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    color: orange;
}

.nav-link{
    margin: 80px;
    color: orange;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}