.container-cartitem{
    margin: 20px;
    display: flex;
    height: 8vh;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    background-color: orange;
    border-radius: 20px;
    border: 3px solid black;
    margin-bottom: 1vh;
}

.button-eliminar{
    font-size: 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    cursor: pointer;
    margin-bottom: 5px;
}

.button-eliminar:hover {
    background-color: red;
    color: #000;
}

.img-card{
    width: 250px;
    height: 120px;
}