.Button {
    color: white;
    padding: 3px;
    margin: 6px;
    background-color: black;
    border: 1px solid  orange;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.Button:hover {
    background-color: orange;
    color: white;
}

.Number {
    margin: 10px;
}
.Controls {
    display: inline-flex;
}

.Counter {
    margin: 20px;
    
}

.Counter-Agregar{
    margin: 10px;
}